:root {
    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #c0392b;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg: #000;
    --btn-border-color:#000;
    --btn-color:#fff;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-boxs;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: "poppins", sans-serif;
    overflow-x: hidden;
    position: relatives;
    background-color: var(--main-bg-color);
    overflow-x: var(--main-bg-color);
    overflow-x: hidden;
}
button {
    cursor:pointer;
} 
a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
    
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 100px;
    position: relative;
}

.bg-second{
    background-color: var(--second-bg-color);
}

.bg-main{
    background-color: var(--main-bg-color);
}

.mobile-menu {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    display: none;

}

.mobile-menu {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    display: none;

}
.mb-menu-close{
    display: none;
}
.top-header {
    height: 30px;
    display:flex ;
    justify-content: space-between;
    align-items: center;
}

.top-header ul {
    display: flex;
}