/* container */

form{
	background:#000 ;
	width: 450px;
	border-radius: 25px;
	height: 480px;
	padding: 25px;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 50px auto 50px;
	box-shadow: 5px 5px 5px 5px #ececec;
}

form h1 {
	color: #fff;
	text-align: center;
	font-size: 22px;
}

label {
	color: #fff;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 15px;
	display: inline-block;

}

input,textarea {
	box-sizing: border-box;
	width: 400px;
	height: 30px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	resize: none;
}

textarea {
	height: 50px;
}
:root {
    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #c0392b;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg: #000;
    --btn-border-color:#000;
    --btn-color:#fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: "poppins", sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
    overflow-x: hidden;

}

button {
    cursor:pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
    
}

li {
    list-style-type: none;
    
}

img {
    max-width: 60%;
    margin-top: 30px;
}


.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 100px;
    position: relative;
}