/* container */

form{
	background:#000 ;
	width: 450px;
	border-radius: 25px;
	height: 480px;
	padding: 25px;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 50px auto 50px;
	box-shadow: 5px 5px 5px 5px #ececec;
}

form h1 {
	color: #fff;
	text-align: center;
	font-size: 22px;
}

label {
	color: #fff;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 15px;
	display: inline-block;

}

input,textarea {
	box-sizing: border-box;
	width: 400px;
	height: 30px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	outline: none;
	resize: none;
}

textarea {
	height: 50px;
}
:root {
    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #c0392b;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg: #000;
    --btn-border-color:#000;
    --btn-color:#fff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: "poppins", sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
    overflow-x: hidden;

}

button {
    cursor:pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
    
}

li {
    list-style-type: none;
    
}

img {
    max-width: 60%;
    margin-top: 30px;
}


.container {
    max-width: 1000px;
    margin: auto;
    padding: 0 100px;
    position: relative;
}

.bg-second{
    background-color: var(--second-bg-color);
}

.bg-main{
    background-color: var(--main-bg-color);
}

.text-red {
    color: var(--red)
}

.mobile-menu {
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    display: none;

}

.mb-menu-close{
    display: none;
}

.top-header {
    height: 30px;
    display:flex ;
    justify-content: space-between;
    align-items: center;
}

.top-header ul {
    display: flex;
}

.top-header a {
    font-size: 13px;
}

ul.devided > li {
    margin-right: 10px;
    padding-right: 10px;
    border-radius: 1 solid;
}

ul.devided > li:last-child {
    border-radius: none;

}

/* dropdown */
.dropdown{
    position: relative;
}

.dropdown:hover .dropdown-content {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.dropdown-content{
    display: flex;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 10px);
    background-color: #fff;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0 ;
    transition: all .4s cubic-bezier(77, 0, .175 1);
    z-index: 2;
}

.dropdown-content > li > a{
    padding: 30px;
}

.dropdown-content > li:hover{
    color: var(--red);
}

/*end dropdown*/

.mid-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: var(--main-bg-color);
}
.logo{
    font-size: 40px;
    font-weight: 700;
}
.mb-logo{
    font-size: 25%;
    font-weight: 700;
}
.search{
    width: 400px;
    height: 40px;
    position: relative;
}
.search input{
    height: 100%;
    width: 80%;
    font-size: 16px;
    outline: 0;
    padding: 0 20px;
    border-radius: 10px;
    border: 0;
    background-color: var(--second-bg-color);

}
.search i{
    position: absolute;
    top:50%;
    transform: translateY(-50%);

    cursor: pointer;
    font-size: 25px;
}
.user-menu > li > a{
    font-size: 30px;
    margin-left: 10px;
}

.bottom-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu{
    display: flex;
    height: var(--bottom-header-size);
}
.main-menu > li > a{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-weight: 600;
    height: 100%;
    text-transform: uppercase;
}
.main-menu > li {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}
.main-menu > li:hover{
    border-bottom: 2px solid var(--red);
}

.mega-content{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    background-color: var(--main-bg-color);
    width: 100%;
    top: calc(100% + 100px);
    z-index: 2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0;
    transition: all .4s cubic-bezier(0.77, 0, 0.175,1);
}
.mega-dropdown:hover .mega-content {
    opacity: 1;
    visibility: visible;
    top: 100%;
}
.mega-content h3 {
    margin: 20px 0;
    padding-left: 20px;

}
.mega-content ul{
    display: flex;
    flex-direction: column;
}
.mega-content ul > li > a {
    font-weight: normal;
    padding-left: 10px 0;
    border-bottom: 2px dashedc #f5f5f5;
    transition: padding-left .2s ease-in-out;
    text-transform: capitalize;

}
.mega-content ul > li >a:hover {
    border-bottom : 2px solid var(--red);

}
#button-row {
    display: flex;
    justify-content: space-evenly;
}
button {
    flex-grow: 1;
    width: 150px;
    margin: 25px;
    border: none;
    outline: none;
    border-radius: 19px;
    height: 35px;
    cursor: pointer;
    color: #fff;

}
button#send {
    background: #ff0057;
}
button#reset {
    background: #707c85;
}
